@import "tailwindcss";

@font-face {
  font-family: "Bricolage Grotesque";
  font-style: normal;
  font-weight: 200 800;
  font-display: swap;
  src: url("bricolage-grotesque.ttf") format("truetype");
}

@theme {
  --color-text: #3b3b3b;
  --color-background: #fffcf4;
  --color-primary: #ffb900;
  --color-custom-green: #00ffa9;
  --color-night: #2d3966;
  --font-sans: "Bricolage Grotesque", system-ui, sans-serif;
}

body {
  @apply bg-background text-text font-sans;
}

h1 {
  @apply text-6xl font-extrabold uppercase;
}

h2 {
  @apply text-4xl font-bold uppercase;
}

h3 {
  @apply text-2xl font-bold;
}

button,
input[type="submit"],
a {
  @apply font-bold text-center uppercase cursor-pointer focus:bg-primary hover:bg-text hover:text-background py-2 px-6 transition-colors;

  &.active {
    @apply bg-primary text-background hover:bg-primary/70;
  }

  &.disabled {
    @apply pointer-events-none opacity-50;
  }

  &:disabled {
    @apply hover:bg-transparent hover:text-gray-200 hover:cursor-default;
  }
}

input:not([type="submit"]) {
  @apply border-3 border-text bg-white py-1 px-3 focus:outline-none focus:border-3 focus:border-primary;
}

label {
  @apply text-sm uppercase font-extrabold;
}
