#mobile-navbar.flex.justify-between.border-5.rounded-sm.m-2
  - navigation_items.each do | item |
    = render "nav/item", path: item[:path], icon: item[:icon], additional_path: item[:additional_path], nav_index: item[:nav_index]